<!-- <header class="site-header">

    <div class="wrapper">
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.minima.nav_pages | default: default_paths -%}
      {%- assign page_titles = site.pages | map: 'title' | compact %}
      <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
  
      {%- unless page_titles == empty %}
        <nav class="site-nav">
          <input type="checkbox" id="nav-trigger" />
          <label for="nav-trigger">
            <span class="menu-icon"></span>
          </label>
  
          {% include nav-items.html paths = page_paths %}
        </nav>
      {%- endunless %}
    </div>
  </header> -->

<header class="page-header" role="banner">

  <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>

  <h2 class="project-tagline">{{ page.description | default: site.description | default:
    site.github.project_tagline }}
  </h2>

  <a href="{{ '/' | | relative_url }}" class="btn">Home</a>
  <!-- <a href="/about/" class="btn">About</a> -->
  <a href="https://github.com/Yash9988/self-learn" class="btn">View on GitHub</a>

  {% if site.show_downloads %}

  <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
  <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>

  {% endif %}

</header>